# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Faculdade\server-1984\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
